@{
    ViewData["Title"] = "Home Page";
}
@* @model List<Category> *@

<div class="text-center">
    <h2>Anasayfa</h2>
@*     <h2 class="display-4">Kategori Listesi</h2>

    @foreach (var c in Model)
    {
        @c.Name <br />
    }
 *@    <p></p>
</div>
